* { margin: 0; padding: 0; }

body {
    background-color: #000000 !important;
}


.navbar {
    background: var(--color-Degrade--1);
}
.nav_logo {
    display: flex;
    width: 260px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* --- Start - Navbar --- */

.navbar-container {
    max-width: 1440px;
    color: #ffffff;
}
.nav-item a {
    color: #ffffff;
}
.nav-item .active {
    color: #ffffff !important;
    text-decoration: underline;
}

/* --- End - Navbar --- */

/* --- Start - General --- */

.border_radius {
    border-radius: 20px;
}
section {
    --_color: hsl(var(--_hue) var(--_saturation) var(--_lightness));
    --_hue: var(--color-AzulCeleste);
    --_saturation: 100;
    --_lightness: 20;

    margin-top: 30px;
}
.col-gutter {
    --bs-gutter-x: 30px !important;
    --bs-gutter-y: 30px !important;
}
p, span, a, h1, h2, h3, h4, h5, h6 {
        /* Roboto Bold 700 */
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    --_hue: var(--color-AmareloRiqueza);
    --_saturation: 100;
    --_lightness: 40;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: hsl(var(--_hue) var(--_saturation) 50);
    box-shadow: 0px 6px 0px 0px hsl(var(--_hue) var(--_saturation) 30);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #1A1A1A;
    text-decoration: none;
    transition: all 0.2s;
}
.button:hover {
    box-shadow: 0px 4px 0px 0px hsl(var(--_hue) var(--_saturation) 30);
    margin-top: 2px;
    margin-bottom: -2px;
    transition: all 0.2s;
}
.button:active {
    box-shadow: 0px 0px 0px 0px hsl(var(--_hue) var(--_saturation) 30);
    margin-top: 6px;
    margin-bottom: -6px;
    transition: all 0.2s;
}

/* --- End - General --- */

/* --- Start - Section Title --- */

.st {
    margin-top: 65px;
}
.st .st_div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.st .st_div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
    background: hsl(var(--_hue) var(--_saturation) var(--_lightness));
    border-radius: 10px 10px 0 0;
    color: #FFF;
    font-size: 26px;
    text-align: center;
    font-feature-settings: 'liga' off;
}

/* --- End - Section Title --- */

/* --- Start - Home Features --- */

.home_carrossel {
    background-color: #898989;
    height: 100%;
}

.home_ranking {
    background-color: #c2c2c2;
    height: 100%;
}

/* --- End - Home Features --- */

/* --- Start - Home Noticias --- */

#home_noticias {
    background: var(--_color);
    color: #ffffff;
    padding-bottom: 40px;
}
.home_noticias {
    padding: 0;
    background-color: #ffffff;
    color: #1A1A1A;
    width: 100%;
    height: 100%;
}
.home_noticias-container {
    padding-bottom: 20px;
}
.home_noticias-imagem {
    width: 100%;
    height: auto;
    aspect-ratio: 26 / 10;
    border: 4px solid #FFF;
    background-color: #000000;
    background: no-repeat center/100% url(../images/jogos/marvel-zombies/marvel-zombies_thumb_m.webp);
}
.home_noticias-texto {
    margin: 15px;
    width: calc(100%-30px);
}
.home_noticias-texto h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}
.home_noticias-texto p {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}
.home_noticias-botao {
    margin: 5px auto -15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 20px;
    color: #ffffff;
    border: 4px solid #ffffff;
    background: hsl(var(--color-RoxoFantasia) 100 30);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.2s;
}
.home_noticias-botao:hover {
    -webkit-box-shadow: inset 0px 0px 10px 0px hsl(var(--color-RoxoFantasia) 100 80);
    box-shadow: inset 0px 0px 10px 0px hsl(var(--color-RoxoFantasia) 100 80);
    width: 140px;
    transition: all 0.2s;
}

/* --- End - Home Noticias --- */





















/* --- Start - Colors --- */
/* Estudando a mudança das variaveis */
:root {
    /* HSL */

    /* Azul Celeste */
    --color-AzulCeleste: 200;
    /* backup
    --color-AzulCeleste--100: #03A9F4;
    --color-AzulCeleste--90: #1CB2F5;
    --color-AzulCeleste--80: #35BAF6;
    --color-AzulCeleste--70: #4FC3F7;
    --color-AzulCeleste--60: #68CBF8;
    --color-AzulCeleste--50: #81D4F9;
    --color-AzulCeleste--40: #9ADDFB;
    --color-AzulCeleste--30: #B3E5FC;
    --color-AzulCeleste--20: #CDEEFD;
    --color-AzulCeleste--10: #E6F6FE;
    */

    /* Roxo Fantasia */
    --color-RoxoFantasia: 280;
    /* backup
    --color-RoxoFantasia--100: #9C27B0;
    --color-RoxoFantasia--90: #A63CB8;
    --color-RoxoFantasia--80: #B052C0;
    --color-RoxoFantasia--70: #BA67C8;
    --color-RoxoFantasia--60: #C47DD0;
    --color-RoxoFantasia--50: #CD93D7;
    --color-RoxoFantasia--40: #D7A9DF;
    --color-RoxoFantasia--30: #E1BEE7;
    --color-RoxoFantasia--20: #EBD4EF;
    --color-RoxoFantasia--10: #F5E9F7;
    */

    /* Vermelho Perigo */
    --color-VermelhoPerigo: 345;
    /* backup
    --color-VermelhoPerigo--100: #F44336;
    --color-VermelhoPerigo--90: #F5564A;
    --color-VermelhoPerigo--80: #F6695E;
    --color-VermelhoPerigo--70: #F77B72;
    --color-VermelhoPerigo--60: #F88E86;
    --color-VermelhoPerigo--50: #F9A19A;
    --color-VermelhoPerigo--40: #FBB4AF;
    --color-VermelhoPerigo--30: #FCC7C3;
    --color-VermelhoPerigo--20: #FDD9D7;
    --color-VermelhoPerigo--10: #FEECEB;
    */

    /* Verde Progresso */
    --color-VerdeProgresso: 105;
    /* backup
    --color-VerdeProgresso--100: #4CAF50;
    --color-VerdeProgresso--90: #5EB762;
    --color-VerdeProgresso--80: #70BF73;
    --color-VerdeProgresso--70: #82C784;
    --color-VerdeProgresso--60: #94CF96;
    --color-VerdeProgresso--50: #A5D7A7;
    --color-VerdeProgresso--40: #B7DFB9;
    --color-VerdeProgresso--30: #C9E7CA;
    --color-VerdeProgresso--20: #DBEFDC;
    --color-VerdeProgresso--10: #EDF7ED;
    */

    /* Amarelo Riqueza */
    --color-AmareloRiqueza: 55;
    /* backup
    --color-AmareloRiqueza--100: #FFC107;
    --color-AmareloRiqueza--90: #FFC71F;
    --color-AmareloRiqueza--80: #FFCD39;
    --color-AmareloRiqueza--70: #FFD351;
    --color-AmareloRiqueza--60: #FFDA6A;
    --color-AmareloRiqueza--50: #FFE083;
    --color-AmareloRiqueza--40: #FFE69C;
    --color-AmareloRiqueza--30: #FFECB4;
    --color-AmareloRiqueza--20: #FFF3CD;
    --color-AmareloRiqueza--10: #FFF9E6;
    */

    /* Marrom Terra */
    --color-MarromTerra: 30;
    /* backup
    --color-MarromTerra--100: #795548;
    --color-MarromTerra--90: #86665A;
    --color-MarromTerra--80: #94776D;
    --color-MarromTerra--70: #A1887F;
    --color-MarromTerra--60: #AF9991;
    --color-MarromTerra--50: #BCAAA3;
    --color-MarromTerra--40: #C9BBB6;
    --color-MarromTerra--30: #D7CCC8;
    --color-MarromTerra--20: #E4DDDA;
    --color-MarromTerra--10: #F2EEED;
    */

    /* Preto Escuridao */
    /* backup
    --color-PretoEscuridao--100: #000000;
    --color-PretoEscuridao--90: #1A1A1A;
    --color-PretoEscuridao--80: #333333;
    --color-PretoEscuridao--70: #4D4D4D;
    --color-PretoEscuridao--60: #666666;
    --color-PretoEscuridao--50: #808080;
    --color-PretoEscuridao--40: #999999;
    --color-PretoEscuridao--30: #B2B2B2;
    --color-PretoEscuridao--20: #CCCCCC;
    --color-PretoEscuridao--10: #E5E5E5;
    */

    /* Degrade */
    --color-Degrade--1: 
      linear-gradient(
        90deg, 
        hsl(var(--color-AzulCeleste) 100 50) 0%, 
        hsl(var(--color-RoxoFantasia) 100 50) 100%
      );
    --color-Degrade--2: 
      linear-gradient(
        0deg, 
        var(--color-AzulCeleste--100) -0%, 
        var(--color-RoxoFantasia--100) 100%
      );
    --color-Degrade--3: 
      linear-gradient(
        90deg, 
        var(--color-AmareloRiqueza--100) -0.15%, 
        var(--color-RoxoFantasia--100) 20%, 
        var(--color-VermelhoPerigo--100) 40%, 
        var(--color-VerdeProgresso--100) 60%, 
        var(--color-AzulCeleste--100) 80%, 
        var(--color-MarromTerra--100) 100%
       );
    /* Saturation */
    --color-S: 100;
    /* Lightness */
    --color-L: 100;
}
/* --- End - Colors --- */