body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 480px; /*gap entre o logo e o menu*/
    flex-shrink: 0;
    background: var(--Degrad, linear-gradient(90deg, #03A9F4 -0.14%, #9C27B0 100.14%));
}

.logo-header{
    display: flex;
    width: 260px;
    height: 79.857px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.navbar{
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}


.imagem-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 80%;
    height: 315px;
  /*  margin: 50px auto; */
  }

.imagem-container img{
    border-radius: 10px;
  }

  .top-ranking{
    font-weight: bold;
  }

  .ranking-home{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 300px;
    height: 515px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #4E1458;
  }

  .botao-home{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
  }

  .botao-home a {
    text-decoration: none;
    color: inherit;
  }