body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 480px; /*gap entre o logo e o menu*/
    flex-shrink: 0;
    background: var(--Degrad, linear-gradient(90deg, #03A9F4 -0.14%, #9C27B0 100.14%));
}

.logo-header{
    width: 260px;
    height: 79.857px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.navbar{
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}


.container-jogos-home{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px 120px;
}

.imagem-container img{
    border-radius: 10px;    
  }

  .ranking-home{
    padding: 0;
    width: 250px;
    height: 372px;
    border-radius: 20px;
    background: #4E1458;
  }

  .top-ranking{
    font-weight: bold;
  }

  .titulo-ranking{
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    background: var(--Degrad, linear-gradient(90deg, #03A9F4 -0.14%, #9C27B0 100.14%));
    margin: 0;
  }

  .titulo-ranking-text {
    margin: 0;
    padding: 1em;
  }

  .corpo-ranking {
    font-size: 16px;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr;
}

  .corpo-ranking li{
    list-style-type: none;
    line-height: 1.5;
  }


  .botao-home {
    padding: 30px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
  }

  .linha-botao-jogos{
    background-color: #9b33ad;
    padding: 8px 30px;
    border-radius:80px;
    text-align: center;
  }

  .linha-botao-jogos:hover{
    background-color: #552ce9;
    transition-delay: 0.07s;
  }

  .botao-home a {
    text-decoration: none;
    color: inherit;
  }