/* ----- Start - General ----- */

* { margin: 0; padding: 0; }

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-feature-settings: 'liga' off;
    font-style: normal;
    color: white;
    min-width: 400px;
}
header {
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(90deg, #03A9F4 -0.14%, #9C27B0 100.14%);
}
.header-container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.text-nowrap {
  white-space: nowrap;
}
.botao-mais {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.botao-mais a {
  background-color: #FFC107;
  padding: 8px 30px;
  border-radius:30px;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  color: black;
}
.botao-mais a:hover {
  animation-duration: 1s;
  animation-name: botao-brilho ;
  animation-iteration-count: infinite;
}
/* glowing for buttons */

@keyframes botao-brilho {
  0% {
    -webkit-box-shadow:0px 0px 0px 0px #ffc107;
    -moz-box-shadow: 0px 0px 0px 0px #ffc107;
    box-shadow: 0px 0px 0px 0px #ffc107;
  }
  50% {
    -webkit-box-shadow:0px 0px 15px 0px #ffc107;
    -moz-box-shadow: 0px 0px 15px 0px #ffc107;
    box-shadow: 0px 0px 15px 0px #ffc107;
  }
  100% {
    -webkit-box-shadow:0px 0px 0px 0px #ffc107;
    -moz-box-shadow: 0px 0px 0px 0px #ffc107;
    box-shadow: 0px 0px 0px 0px #ffc107;
  }
}

/* section titles */

.titulo {
  display: flex;
  align-items: center;
}

.titulo h3 {
  display: inline;
  width: auto;
  height: 23px;
  padding: 12px 30px;
  margin: -40px auto 0; /* sobreposicao do fundo da section com a section anterior - se a section anterior mudar de cor, nao é necessario alterar o titulo do proximo */
  font-size: 28px;
  border-radius: 10px 10px 0 0;
}

/* ----- End - General ----- */

/* ----- Start - Header ----- */

/* Fixed header */

header {
  position: fixed;
  width: 100%;
  /* Drop shadow */
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}
main {
  padding-top: 100px;
}

/* Logo */

.logo-header {
  width: 260px;
  height: 79.857px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: auto auto auto 0;
}

/* Nav */

.header-container > nav {
  display: flex;
  align-items: center;
}

.navbar , .navbar li , .header-container a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.navbar {
  list-style-type: none;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.navbar li {
  padding: 0 20px;
  background: none;
}

.navbar li:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 10%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0.15) 60%, rgba(255, 255, 255, 0.00) 90%);
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar li:hover a {
  font-weight: 600;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* ----- End - Header ----- */

/* ----- Start - Home ----- */

/* destaques */

#destaques {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-jogos-home {
  max-width: 1440px;
  width: 100%;
  margin: 50px;
  display: grid;
    gap: 30px;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 1fr;
  height: 515px;
}
.destaque-carrossel {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex; /* Adicionando um layout flexível */
  position: relative; /* Permitindo um posicionamento relativo para os botões */
  justify-content: center;
}

.destaque-jogo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: none;
  flex: 0 0 100%; /* Definindo a largura das imagens */
  margin-right: 10px; /* Adicionando margem entre as imagens */
  z-index: -999;
}


#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 5px;
}

  .ranking-home {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    background: #4E1458;
  }

  .ranking-top {
    font-weight: bold;
  }

  .ranking-titulo {
    text-align: center;
    width: 100%;
    height: 50px;
    background: var(--Degrad, linear-gradient(90deg, #03A9F4 -0.14%, #9C27B0 100.14%));
    margin: 0;
  }

  .ranking-titulo-text {
    margin: 0;
    padding: 1em;
  }

  .ranking-corpo {
    margin: 0;
    padding: 30px;
    font-size: 16px;
    height: calc(100% - 50px);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

  .ranking-corpo li {
    list-style-type: none;
    line-height: 1.5;
  }

  .home-botao {
    margin:auto;
    padding: 30px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
  }

  .ranking-botao {
    background-color: #9b33ad;
    padding: 8px 30px;
    border-radius:80px;
    text-align: center;
  }

  .ranking-botao:hover {
    animation-duration: 1s;
    animation-name: botao-brilho ;
    animation-iteration-count: infinite;
  }

  .home-botao a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
  }

  /* destaques - responsividade */
  
  @media screen and (min-width: 769px) and (max-width: 1280px) {
    .container-jogos-home {
      margin: 50px;
      display: grid;
        gap: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 350px auto;
      height: auto;
    }
  }
  @media screen and (max-width: 768px) {
    .container-jogos-home {
      margin: 50px;
      display: grid;
        gap: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 350px auto;
      height: auto;
    }
  }

  /* Noticias */

  #noticias {
    background-color: #012A3D;
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
  }

  .noticias-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 50px 80px 50px;
  }

  #noticias .titulo h3 {
    background-color: #012A3D;
  }

  .noticias-container > article {
    width: 100%;
  }

  .noticias-article {
    width: 100%;
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #012A3D;
    column-gap: 30px;
    row-gap: 50px;
  }

  .noticia {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    overflow: visible;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .noticia-img {
    border-radius: 20px;
    border: 4px solid #FFF;
    height: 175px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .noticia-text {
    color: #1A1A1A;
    padding: 15px;
  }
  .noticia-text h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
  }
  .noticia-text p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  .noticia-botao {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }
  .noticia-botao a {
    margin: 10px auto -15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 4px solid #FFF;
    background: #9C27B0;
    color: #FFF;
    line-height: 1;
    text-decoration: none;
  }
  .noticia-botao a:hover {
    animation-duration: 1s;
    animation-name: botao-brilho ;
    animation-iteration-count: infinite;
  }

  .titulo-destaques {
    background-color: #012A3D;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  /* noticias - responsividade */

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    .noticias-article {
      margin: 40px 0;
      display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
      height: auto;
    }
  }
  @media screen and (max-width: 768px) {
    .noticias-article {
      margin: 40px 0;
      display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
      height: auto;
    }
  }

 /* Loja */

  #loja {
    background-color: #000000;
    display: flex;
    justify-content: center;
  }

  .loja-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 50px 40px 50px;
  }

  #loja .titulo h3 {
    background-color: #000000;
  }

  .loja-container > article {
    width: 100%;
  }

  .loja-article {
    width: 100%;
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
  }
  .loja-jogo {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: auto;
    color: white;
    border-radius: 20px;
    border: 2px solid #808080;
  }
  .loja-img {
    margin: 10px;
    border-radius: 12px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loja-jogo-texto {
    margin: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-areas:
    "loja-jogo-titulo loja-jogo-titulo"
    "loja-jogo-preço loja-jogo-botao";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .loja-jogo-texto h3 {
    grid-area: loja-jogo-titulo;
    padding: 0 15px 20px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .loja-jogo-texto p {
    grid-area: loja-jogo-preço;
    padding: 0 15px;
    font-size: 18px;
    font-style: normal;
    line-height: 130%;
  }
  .loja-jogo-texto .loja-botao-comprar {
    grid-area: loja-jogo-botao;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .loja-jogo-preco {
    color:#FFC107;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
  }

  .loja-botao-comprar a {
    display: flex;
    align-items: center;
    background-color: #9CCF19;
    padding: 0 0 0 15px;
    margin: 20px 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #0B3806;
    text-decoration: none;
    text-transform: uppercase;
  }
  .loja-botao-comprar img {
    width: 53px;
    height: 49px;
    margin: -7px -7px -7px 7px;
  }
  .loja-botao-comprar a:hover {
    animation-duration: 1s;
    animation-name: botao-brilho ;
    animation-iteration-count: infinite;
  }

  /* loja - responsividade */

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    .loja-jogo-texto {
      margin: 10px;
      display: grid;
      grid-template-areas:
      "loja-jogo-titulo"
      "loja-jogo-preço"
      "loja-jogo-botao";
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .loja-jogo-texto h3 , .loja-jogo-texto p {
      text-align: center;
    }
    .loja-botao-comprar {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media screen and (max-width: 768px) {
    .loja-jogo-texto {
      margin: 20px 10px 10px 10px;
      display: grid;
      grid-template-areas:
      "loja-jogo-titulo"
      "loja-jogo-preço"
      "loja-jogo-botao";
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .loja-article {
      width: 100%;
      margin: 40px 0;
      display: grid;
      grid-template-columns: 1fr;
    }
    .loja-img {
      height: auto;
      width: 100%;
    }
    .loja-jogo {
      flex-direction: row;
    }
  }

  /* newsletter */

  #newsletter {
    width: 100%;
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #03A9F4 0%, #9C27B0 100%);
  }
  .newsletter-container {
    text-align: center;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/elements/newsletter-background.svg);
    background-position: center;
    background-size: cover;
  }
  .newsletter-botao {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    font-size: 20px;
    font-weight: 700;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background: #03A9F4;
    box-shadow: 0px 4px 0px 0px #004687;
  }
  .newsletter-botao a {
    width: 100%;
    color: #FFF;
    text-decoration: none;
  }

  /* footer */

  footer {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
    font-size: 14px;
    line-height: 1.4;
  }

/* ----- End - Home ----- */

@media screen and (max-width: 768px) {

.container-jogos-home{
  margin-top: 80px;
}

  .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
  }

  .navbar.show {
      display: flex;
      background-color: #4E1458;
      height: auto;
      width: min-content;
      border-radius: 10px;
  }

  .navbar.show li:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 10%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0.15) 60%, rgba(255, 255, 255, 0.00) 90%);
  }

  .navbar.show li:hover a {
    font-weight: 600;
  }

  .navbar li {
      margin: 10px 0;
  }

  .menu-icon {
      display: block;
  }
}